<div>
    <div style='background: rgb(65, 64, 190)' class='jumbotron text-center'>
        <h1 style='color: rgb(237, 237, 237);'>Feminism Lorem Ipsum</h1>
    </div>
    <div style='margin:auto; width: 500px; text-align: center;'>
        <img style='margin: auto;' src='./img/fm7.jpg' />
    </div>
    <label style='padding: 25px 0 0 0; font-size: 20px; width: 99%; margin: auto;' class='text-center'>How many words do you need?</label>

    <div ng-submit() style='width: 400px; margin: 0 auto;' class='input-group'>
        <input type="text" class="form-control" ng-model='numWords'>
        <span class="input-group-btn">
        <button data-container="body" data-toggle="popover" data-placement="top" data-content="Copied!" data-original-title="" title="" class="btn copy" data-clipboard-target="#foo">
          Copy
        </button>
        </span>
  </div>
    <p id='foo' style='margin: 35px;'>
        {{lorem}}
    </p>
</div>
